@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/homepage.css" />
<div class="text-center">
    <img src="~/lib/images/Zuko background.jpg" width="100%" />
    <h1 class="display-4">Welcome</h1>

    <!--this is for text on the site-->
    <p>This is a note-taking website. You can use it for making your future plans, ideas, exploring and etc.</p>

    <!--Note Button-->
    <a class="home-button" asp-area="" asp-controller="Note" asp-action="Index">Notes</a>
    <br/>
    <!--Note Button-->

   @* <img src="lib/images/Spirited Away.jpg" alt="Spirited Away" width="500">  <!--this is just a background photo (the right way)   BUT I NEED TO CHANGE IT TO CALENDAR VIEW AND THERE WILL BE ANOTHER PHOTO-->*@

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>