@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/homepagestyle.css" />


<!--This is the first section-->
<div class="card">
    <img src="~/lib/images/work background.png">
    <div class="details">
        <div class="content">
            <h2>Need to focus at work?&#127919;<br></h2>
            <h3>Stay focused in every conditional.</h3>
        </div>
    </div>
    <div class="container">
         <p>Is there a fire in your office, tsunami in your town, earthquake in your city? Don't care about it with our site you can stay focused all the time. Achieve your goals&#127993;</p>
    </div>
    <a class="home-button" asp-area="" asp-controller="Note" asp-action="Index">Notes</a>
</div>
<!--=====================This is the first section end=========================-->

@*
<div class="card">
    <img src="lib/images/study background.jpg">
    <div class="details">
        <div class="content">
            <h2>Do you feel boring while studying?🥱</h2>
            <h3>Now you can control everything🧠.</h3>
            <p>Plan your end goals with our website.  One reason you get bored maybe because you have no clear idea of where your study session is going or what you need to accomplish. Plan ahead and have what you want to do in your mind before you begin to study. Layout what you know you need to get accomplished and how long you need to take to complete it. This way, you will have a clear objective, which will help you combat boredom. If you know when you can go back to playing video games or talking to your friends, you will be more likely to concentrate of your studies.
            </p>
        </div>
    </div>
    <a class="home-button" asp-area="" asp-controller="Note" asp-action="Index">Notes</a>
</div>
*@

@**@
@*  <p>This is a note-taking website. You can use it for making your future plans, ideas, exploring and etc.</p>
*@