@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/homepagestyle.css" />


<!--=====================This is the first section====================================-->
<div class="card">
    <img src="~/lib/images/work background.png">
    <div class="details">
        <div class="content">
            <h2>Need to focus at work?🎯</h2>
            <h3>Stay focused on every condition.</h3>
            <h3>👷‍♂‍👩‍⚕‍👩‍🎓👨‍🎓👮‍♂‍🕵️‍♂‍👨‍🌾👩‍🍳👨‍🔧👨‍🏭👨‍💼👩‍💼👨‍🔬👨‍✈‍👨‍🚀👨‍🚒</h3>
        </div>
    </div>
    <div class="container">
        <p>
            Is there a fire in your office, a tsunami in your town, 
            earthquake in your city? Don't care about it with our 
            website you can stay focused all the time. Achieve your goals with us🐱‍💻🥇🏆
        </p>
    </div>
<a class="home-button" id="mycard1button" asp-area="" asp-controller="Note" asp-action="Index">Let's work
    </a>
</div>
<!--=====================This is the first section end=================================-->


<!--=====================This is the second section start==============================-->
<div class="card">
    <img src="~/lib/images/lofi-girl-study.jpg" />
    <div class="details">
        <div class="content">
                <h2>Do you feel bored while studying? 😵🥱😴</h2>
                <h3>Now you can control every moment of your studying📚</h3>
        </div>
    </div>
        <div class="container">
            <p>
                One reason you get bored may be that you have no clear idea of where 
                your study session is going or what you need to accomplish.
                Plan ahead and have what you want to do in your mind before you begin to study📅
            </p>
        </div>
    <a class="home-button" id="mycard2button" asp-area="" asp-controller="Note" asp-action="Index">
        Let's study
</a>
</div>
<!--=====================This is the second section end================================-->


<!--=====================This is the third section start===============================-->
   <div class="card">
        <div class="imgBox">
        <img src="~/lib/images/anime-guitar-boy.jpg" id="AnimeGuitarBoy"/>
        </div>
        <div class="details">
            <div class="content" id="mycardcontent3">
            <h2>🎉Notes Just For Fun🎉🥳</h2>
            <h3>You can create your own parties and holidays😜😎😋</h3>
            <p id="mycard3list">📝Create drafts📝</p>
            <p id="mycard3list">💡Write down your coolest ideas💡</p>
            <p id="mycard3list">🧠Follow your genious plan🧠</p>
            <p id="mycard3list">🖥🕹Create Movie and Game Lists👾🎮</p>
            <p id="mycard3list">🎉🎊🎄Celebrate parties and holidays⛄🎁🎂</p>
            <p id="mycard3list">⏰Track your money and time💵</p>
            <p id="mycard3list">📚Learn languages and new words🌍🏴</p>
            <p id="mycard3list">🥘🍲🍕Follow recipes and cook a delicious food🍳🍥🍰</p>
            </div>
        </div>
    <a class="home-button" id="mycard3button" asp-area="" asp-controller="Note" asp-action="Index">
        Let's fun
    </a>
    </div>

<!--=====================This is the third section end=================================-->




@**@
@*  <p>This is a note-taking website. You can use it for making your future plans, ideas, exploring and etc.</p>
*@