@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/homepagestyle.css" />

<!--=====================This is the first section====================================-->
<div class="card">
    <img src="~/lib/images/work background.png">
    <div class="details">
        <div class="content">
            <h2>Need to focus at work?🎯</h2>
            <h3>Stay focused on every condition.</h3>
            <h3>👷‍♂‍👩‍⚕‍👩‍🎓👨‍🎓👮‍♂‍🕵️‍♂‍👨‍🌾👩‍🍳👨‍🔧👨‍🏭👨‍💼👩‍💼👨‍🔬👨‍✈‍👨‍🚀👨‍🚒</h3>
        </div>
    </div>
    <div class="container">
        <p>
            Is there a fire in your office, a tsunami in your town, 
            earthquake in your city? Don't care about it with our 
            website you can stay focused all the time. Achieve your goals with us🐱‍💻🥇🏆
        </p>
    </div>
<a class="home-button" id="mycard1button" asp-area="" asp-controller="Note" asp-action="Index">Let's work
    </a>
</div>
<!--=====================This is the first section end=================================-->


<!--=====================This is the second section start==============================-->
<div class="card">
    <img src="~/lib/images/lofi-girl-study.jpg" />
    <div class="details">
        <div class="content">
                <h2>Do you feel bored while studying? 😵🥱😴</h2>
                <h3>Now you can control every moment of your studying📚</h3>
        </div>
    </div>
        <div class="container">
            <p>
                One reason you get bored may be that you have no clear idea of where 
                your study session is going or what you need to accomplish.
                Plan ahead and have what you want to do in your mind before you begin to study📅
            </p>
        </div>
    <a class="home-button" id="mycard2button" asp-area="" asp-controller="Note" asp-action="Index">
        Let's study
</a>
</div>
<!--=====================This is the second section end================================-->

<!--=====================This is the third section start===============================-->
   <div class="card">
        <div class="imgBox">
        <img src="~/lib/images/anime-guitar-boy.jpg" id="AnimeGuitarBoy"/>
        </div>
        <div class="details">
            <div class="content" id="mycardcontent3">
            <h2>🎉Notes Just For Fun🎉🥳</h2>
            <h3>You can create your own parties and holidays😜😎😋</h3>
            <p id="mycard3list">📝Create drafts📝</p>
            <p id="mycard3list">💡Write down your coolest ideas💡</p>
            <p id="mycard3list">🧠Follow your genious plan🧠</p>
            <p id="mycard3list">🖥🕹Create Movie and Game Lists👾🎮</p>
            <p id="mycard3list">🎉🎊🎄Celebrate parties and holidays⛄🎁🎂</p>
            <p id="mycard3list">⏰Track your money and time💵</p>
            <p id="mycard3list">📚Learn languages and new words🌍🏴</p>
            <p id="mycard3list">🥘🍲🍕Follow recipes and cook a delicious food🍳🍥🍰</p>
            </div>
        </div>
    <a class="home-button" id="mycard3button" asp-area="" asp-controller="Note" asp-action="Index">
        Let's fun
    </a>
    </div>

<!--=====================This is the third section end=================================-->

<!--=====================This is the sixth section start================================-->
<div class="card">
    <div class="imgBox">
        <img src="~/lib/images/cosmo background.jpg" id="CosmoBoy" />
    </div>
    <div class="details">
        <div class="content" id="mycardcontent3">
            <h2>🪐🌌Create your own space🔮🌍</h2>
            <p id="CosmoBoyText">You can write whatever you want with our note-taking website.
                You can add topics, texts, and photos. Write your own world👽,
                the galaxy of words👾, and create your own cosmic ideas🤖. Be the astronaut of your world🐱‍🚀👨🏻‍🚀👩🏻‍🚀
            </p>
            <!--here I need photo of Notes for example-->
        </div>
    </div>
    <a class="home-button" id="mycard6button" asp-area="" asp-controller="GlobalNote" asp-action="Index">
        My Space
    </a>
</div>

<!--======================This is the sixth section end=================================-->

<!--=====================This is the fourth section====================================-->
<div class="card">
    <img src="~/lib/images/avengers-background.jpg">
    <div class="details">
        <div class="content">
            <h2>Join Your Team Now👨‍👩‍👧‍👦</h2>
            <h3>You can create your own team.</h3>
        </div>
    </div>
    <div class="container">
        <p>
            Build your team, join your school, join your university. 
            Play games, create projects, generate ideas, conquer the world 
            with your friends, mates, comrades, family.
            Achieve your goals with us and your company🐱‍💻🥇🏆
        </p>
    </div>
    <a class="home-button" id="mycard4button" asp-area="" asp-controller="User" asp-action="Index">
    Build a Team
    </a>
</div>
<!--=====================This is the fourth section end=================================-->

<!--=====================This is the fifth section start================================-->
<div class="card">
        <img src="~/lib/images/world background.jpeg"/>
    <div class="details">
        <div class="content" id="mycardcontent4">
            <h2>🌍Save the World🌍</h2>
            <h2>💡Share your ideas all over the world💡</h2>
        </div>
        <div class="container">
            <p>
                Do you have great ideas to tell? Are you searching for a good team?
                Are you searching an inspiration?
            </p>
            <p>
                You can post your ideas in public with our World Ideas program.
                Or if you're searching for a fabulous team you can post that you're
                searching for an incredible team. You can find professionals and experts
                all over the world no matter what is your profession. Also, you can find
                awesome ideas and advice from experts.
            </p>
        </div>
    </div>
    <a class="home-button" id="mycard5button" asp-area="" asp-controller="GlobalNote" asp-action="Index">
        World Ideas
    </a>
</div>

<!--======================This is the fifth section end=================================-->



@**@
@*  <p>This is a note-taking website. You can use it for making your future plans, ideas, exploring and etc.</p>
*@