@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/homepagestyle.css" />


<!--This is the first section-->
<a class="home-button" asp-area="" asp-controller="Note" asp-action="Index">
<div class="card">
    <img src="~/lib/images/work background.png">
    <div class="details">
        <div class="content">
            <h2>Need to focus at work?🎯</h2>
            <h3>Stay focused on every condition.</h3>
            <h3>👷‍♂‍👩‍⚕‍👩‍🎓👨‍🎓👮‍♂‍🕵️‍♂‍👨‍🌾👩‍🍳👨‍🔧👨‍🏭👨‍💼👩‍💼👨‍🔬👨‍✈‍👨‍🚀👨‍🚒</h3>
        </div>
    </div>
    <div class="container">
        <p>
            Is there a fire in your office, a tsunami in your town, 
            earthquake in your city? Don't care about it with our 
            website you can stay focused all the time. Achieve your goals with us🐱‍💻🥇🏆
        </p>
    </div>
</div>
</a>
<!--=====================This is the first section end=========================-->

<a class="home-button" asp-area="" asp-controller="Note" asp-action="Index">
<div class="card">
    <img src="~/lib/images/lofi-girl-study.jpg" />
    <div class="details">
        <div class="content">
                <h2>Do you feel bored while studying? 😵🥱😴</h2>
                <h3>Now you can control every moment of your studying📚</h3>
        </div>
    </div>
        <div class="container">
            <p>
                One reason you get bored may be that you have no clear idea of where                 your study session is going or what you need to accomplish.
                Plan ahead and have what you want to do in your mind before you begin to study📅
            </p>
        </div>
</div>
</a>

@**@
@*  <p>This is a note-taking website. You can use it for making your future plans, ideas, exploring and etc.</p>
*@