@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/homepagestyle.css" />


<!--This is the first section-->
<section class="first-section">
<div class="card">
    <img src="~/lib/images/work background.png">
    <div class="details">
        <div class="content">
            <h2>Need to focus at work?<br></h2>
            <h3>Stay focused in every conditionals.</h3>
            <p>Is there a fire in your office, tsunami in your town, earthquake in your city? Don't care about it with our site you can stay focused all the time.</p>
        </div>
    </div>
    <a class="home-button" asp-area="" asp-controller="Note" asp-action="Index">Notes</a>
</div>
</section>
<!--=====================This is the first section end=========================-->


@*<div class="notes-for-fun">
    <p>This the text  itself.</p>
    <img src="~/lib/images/anime-guitar-boy.jpg"/>
</div>@*

@**@
@*  <p>This is a note-taking website. You can use it for making your future plans, ideas, exploring and etc.</p>
*@