@model IEnumerable<JustInTime.DAL.Domain.Entities.CheckList>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/checklistindexstyle.css" />


<h1 id="pageTitle">My Todo Lists📝</h1>

<!--create button-->
<p>
    <a id="createButton" asp-action="Create">Create New</a>
</p>
<!--create button-->

<!--search button start-->
<form asp-controller="CheckList" asp-action="Index">
    <p id="search">
        🔎: <input  type="text" name="SearchString" />
        <input id="searchButton" type="submit" value="SEARCH" />
    </p>
</form>  

<a id="searchBack" asp-action="Index">BACK TO FULL LIST</a>
<!--search button end-->


<!--==================================this is CheckList card=======================================-->
@foreach (var item in Model)
{
    <a class="home-button" id="mycard1button" asp-area="" asp-controller="ToDo" asp-action="Index">
        <div class="card">
            <div class="details">
                <div class="content">
                    <h3>
                        @Html.DisplayFor(modelItem => item.Title)
                    </h3>
                    <h6>
                        @Html.DisplayFor(modelItem => item.DateCreated)
                    </h6>
                    <p>Click Me</p>
                </div>
            </div>
            <a class="home-button"  asp-action="Edit" asp-route-id="@item.CheckListId">✏</a> |
            <a class="home-button"  asp-action="Delete" asp-route-id="@item.CheckListId">❌</a>
        </div>
    </a>
}


<!--==================================this is CheckList card=======================================-->
