@*@using JustInTime.DAL.Domain.Enums;*@
@model JustInTime.DAL.Domain.Entities.Note

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Note</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            @*
            <div class="form-group">
            <select asp-for="NoteType" asp-items="@ViewBag.States">
                <option>Please select one</option>
                <option>Urgent</option>
                <option>Ordinary</option>
                <option>Important</option>
                <option>Temporary</option>
            </select>
            </div>*@@*
            <div class="form-group">
                <label asp-for="NoteType" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <select asp-for="NoteType" asp-items="Html.GetEnumSelectList<JustInTime.DAL.Domain.Enums.Type>()">
                        <option selected="selected" value="">Please select</option>
                    </select>
                    <span asp-validation-for="NoteType" class="text-danger" />
                </div>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}