@model List<JustInTime.BLL.Entities.Note>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@foreach (var note in Model)
{
    <p>@note.Name</p>
    <p>@note.Description</p>
    <p>@note.ColorHex</p>
    <p>@note.DateCreated</p>
}