body {
    background-image: url("../lib/images/Kimi no Nawa.png");
    color: aliceblue;
}

#pageTitle{
    text-align:center;
}

.card {
    margin: 40px;
    margin-top: 10%; /*для выпрямления*/
    margin-bottom: -5%; /*для выпрямления*/
    width: 240px; /*250px*/ /*30%*/
    height: 100px; /*150px*/
    display: inline-block;
    backdrop-filter: blur(15px);  /*эффект блюра*/
    background: rgba(255,255,255,0.05); /*the color of card*/
    color: aliceblue;
    box-shadow: 10px 20px 40px rgba(0,0,0,0.25);
    border: 0;
    border-radius: 0.5rem;
     transition: 0.5s;
}
    .card:hover {
        transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */ /*увеличивает размер*/
    }
    .card .details .content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }


#createButton {
    margin-top: 20px; 
    position: absolute;
   left:45%;
    padding: 15px;
    width: 150px;
    font-family: "montserrat",sans-serif;
    text-transform: uppercase;
    border-radius: 15px;
    color: #fff;
    background-size: 220%;
    transition: 0.6s;
    background-image: linear-gradient(to left,#12CBC4,#0652DD,#12CBC4);
    text-decoration: none; /*это нужно, чтобы убрать подчекривающую линию в ссылках*/
    z-index: 1; /*на передний план(активируется кнопка)*/
    text-align: center; /*ставит текст на центр*/
}

#createButton:hover {
    background-position: right;
}
.home-button {

    text-decoration: none; /*это нужно, чтобы убрать подчекривающую линию в ссылках*/
    display: contents; /*для правильного размера поля действия кнопки*/
    color: aliceblue;
}

#search {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}
.search:hover > .search-txt {
    width: 240px;
    padding: 0 6px;
    top: 50px;
}

.search-box:hover > .search-btn {
    background: white;
}

.search-btn {
    color: #e84118;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    text-decoration: none;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}